Pillow
dash
docx2txt
forex-python
geopy
huggingface_hub
ipywidgets
jupyter
langchain
matplotlib
notebook
openai
opencage
openpyxl
pandas
pdf2image
pinecone-client
plotly
python-dotenv
scikit-learn
tensorflow
tiktoken
torch
transformers
wikipedia
